.inputMaps {
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom:20%;
    font-size:18pt;
     height:120px;
     width:400px;
     margin: 0;
     width: '100%';
     width: inherit !important;

}

.input {

    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
    width: '100%';
}

.game-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 10px;

    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.actions button {
    height: 25px;
    margin-right: 5px;
    padding-inline: 10px;

    border-style: none;
    border-radius: 8px;
    border-color: lightslategrey;
}

.edit {
    font-size: medium;
    width: 205px;
    border-radius: 8px;
    height: 45px;
    background-color: deepskyblue;
    color: white;
}

.delete {
    background-color: crimson;
    color: white;
}