.game-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 10px;

    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.actions button {
    height: 25px;
    margin-right: 5px;
    padding-inline: 10px;

    border-style: none;
    border-radius: 8px;
    border-color: lightslategrey;
}

.edit {
    padding-left: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.EditInformation {
    width: 300px;
    height: 40px;
    display: inline-block;
}

.EditDirecctions {
    width: 300px;
    height: 40px;
    display: inline-block;
}

.delete {
    background-color: crimson;
    color: white;
}